body{

  font-family:"Montserrat";

  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold";
  color: white;
}
p{
  color: white;
  font-weight: bold;
}


h3{

  font-weight: bold;
}
p{
  color:#8f8f8f;
}
/* container */
.fluid-container{
  padding:  7% 15%;
}
/* heading */
.big-heading{
  font-family: "Montserrat-balck";
  font-size:3.5rem;
  line-height:1.5;
  font-weight: bold;
}
.heading-section{
  font-size: 3rem;
  line-height: 1.5;
}

/* navigation-bar */
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding:0px 18px;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}
.navbar-brand{
  color: white;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
/* for rotating image */

/* title-section */
#title{
  background-image: url('photo/bodyimage.jpg');
  background-color:none;
  color: white;
  text-align: left;
  margin: 0px;
}

.title .fluid-container{
  padding:3% 15% 7%;
}



.copyright{
  text-align: center;
  color: white;
}
.footer-icon{
  position: center;
  margin:1.5rem;
}
/* css for aboutus page */

/* css for contact page */
.contact{
  margin: 3rem;
}
.form{
  width: 50%;
  margin-left: 25%;
  color: white;
}
input{
  background-color: red;

}
.footerc{

  border-radius: 10px;
  margin: 3rem 0rem 0rem 0rem;
  padding-bottom: 3rem;
}
.fimg{
  color:white;
}




/* section ourteam */
.fa-brand{
  color: white;
}
.team-member{
  box-shadow: 20px white;
}
